<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= content_for?(:title) ? yield(:title) : "Akita Project" %></title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="three columns">
      
    </div>
    <div class="nine columns">
      <ul class="link-list right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= render_login_and_signup_link %></li>
        
      </ul>
    </div>
  </div>
  
  <div class="row">    
    <div class="ten columns push-two">
    	 <%- flash.each do |name, msg| -%>
		    <% if msg.is_a?(String) %>
		      <%= content_tag :div, :class => "alert-box #{name}" do -%>
		        <%= msg.html_safe %>
		      <% end %> 
		    <% end %>
		  <%- end -%>

      <%= yield %>
    </div>
    
    <div class="two columns pull-ten">
      <% if user_signed_in? %>
        <%= gravatar_image_url current_user.email %>
        <ul class="side-nav">
          <li><b><%= render_login_and_signup_link %></b></li>
          <li><%= link_to 'inbox', links_path %></li>
          <li><a href="#">reading</a></li>
          <li><a href="#">archives</a></li>
          <li class="divider"></li>
          <li><%= link_to "new", new_link_path %></li>
        </ul>
      <% else %>
      <% end %>
    </div>
  </div>
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Akita 2012</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="#">Github</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
  <%= render :partial => 'layouts/shortcuts' %>
</body>
</html>